/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
    border: 1px;
    
}

.home__data {
    align-self: center;
}

<style>
.container {
    width: 1000px;
    height: 500px;
}

img {
    width: 65px;
    height: 65px;
    margin-top: -55px;
}

.home__judul {
    position: absolute;
width: 399px;
height: 64px;
left: 75px;
top: 1px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;

color: #000000;

}

.home__alamat {
    position: absolute;
width: 399px;
height: 64px;
left: 75px;
top: 35px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;

color: #000000;

}

.home__tlp {
    position: absolute;
    width: 399px;
    height: 64px;
    left: 75px;
    top: 50px;

    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;

    color: #000000;

}

.home__invoice {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    color: #000000;

}

.garis {
    margin-top: -12px;
    border: 1px solid #000000;
}

.garis1 {
    margin-top: 1px;
    border: 1px solid #000000;
}

.garis2 {
    margin-top: -15px;
    border: 1px solid #000000;
}

.tabel1{
border: 5px solid rgb(255, 255, 255);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    margin-top: -15px;
    border-collapse: collapse;
    font-size: small;
    margin-bottom: 10px;
    margin-left: -4px;
}

.bagian2 {
    margin-top: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

color: #000000;

}

.tabel2{
    border-collapse: collapse;
    font-size: 12px;
    margin-top: -62px;
}

.tabel3 {
    border-collapse: collapse;
    font-size: 12px;
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.ttd-pasien {
    font-size: 14px;
}

.tandatangan{
    margin-top: -130px;
    font-size: smaller;
    font-weight: 595px;
}

.tabel4 {
    font-size: x-small;
    margin-bottom: -20px;
    margin-top: -25px;
}

.tabel5 {
    border-collapse: collapse;
    font-size: 13px;
    font-style: normal;
    font-family: consolas;
}

.tindakan {
    font-style: italic;
    font-family: sans-serif;
}